.container{
    width: 100%;
    min-height: 92.2vh;
    background-color: #000000;
    color: #fff;
    padding-bottom: 0.25rem;
    text-align: center;
    overflow: hidden;
    padding-inline: 2.0rem;
}