.banner {
    width: 50%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 68px;

}


@media (max-width: 320px) {
    .banner {
        width: 30%;
        height: 230px;
    }

  
    .header a {
        font-size: 0.95rem;
    }
}