.banner {
    width: 100%;
    height: 437px;
    /* background-image: url('/public/imagens/McLarenSenna.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 68px;

}